---
layout: compress
---

<!DOCTYPE HTML>
<html xmlns="">
{% include head.html %}

<body class="font-space-grotesk">
        <div>
                <div class="flex flex-col h-[100dvh]">
                        {% include nav.html %}
                        {{ content }}

                        <!-- {% if page.type == 'go' %}
<iframe id="rufous-sandbox" scrolling="no" allowtransparency="true" allowfullscreen="true"
        style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none;"
        title="Twitter analytics iframe" frameborder="0"></iframe>
{% endif %} -->
                        {% include footer.html %}
                </div>
        </div>
        <!-- {% include ga.html %} -->
</body>

</html>
